body {background: url("https://www.walldevil.com/wallpapers/a77/mountain-cave-gate-bridge-ice-snow.jpg") fixed;background-repeat: no-repeat;background-size: cover;color: #000;}

#lion_image {
border-radius: 25px;
overflow: hidden;
border: 1px solid #000;
}
 
.table, .item {
border: 1px solid #000;
background: rgba(181, 162, 164, 0.21);
border-collapse: separate;
}

.table .right, .table .right_odd {
background: none;
border: 0px solid #000;
}

div .feature, .cave-grid, div .left, .mound-grid,  .table .bottom,  .table .top, .table th, .item-header, .item-footer {
border: 0px solid #000;
background: rgba(181, 162, 164, 0.21);
color: #000;
}

.cave-grid, div .left, .mound-grid {
border: 1px solid #000;
background: #B5A2A4;
color: #000;
}

.table .left {
border: 1px solid #000;
background: rgba(181, 162, 164, 0.21);
color: #000;
}

.inner-table .right {
background: rgba(181, 162, 164, 0.21);
border: 1px solid #000;
border-left: none;
}
}
